.posts-wrapper.row
  .post
    .post-head
      .name
        = @post.user.username
    .image.center-block
      =image_tag @post.image.url(:medium)
    %p.caption
      =@post.caption
    .text-center.edit-links
      =link_to 'Cancel', root_path
      - if @post.user_id == current_user.id
        |  
        =link_to 'Edit', edit_post_path(@post.id)
        |
        =link_to 'Delete', post_path(@post.id), method: :delete